@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;700&display=swap');

:root{
    --color-black1: #000000;
    --color-black2: #22212C;
    --color-black3: #302F3D;
    --color-gray: #837E9F;
    --color-pink: #CB92B1;
    --color-green: #00FF00;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Merriweather Sans', sans-serif;
    background-color: #22212C;
}

ul{
    list-style: none;
}

.box{
    border-radius: 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

    background-color: var(--color-black3)
}

.menu .menu-title{
    padding-bottom: 20px;

    font-weight: 700;
    font-size: 20px;
    line-height: 25px;

    color: var(--color-gray)
}

.container{
    width: 100%;
    padding: 40px 40px 20px;

    display: flex;

    background-color: var(--color-black2);
}

.menu{
    max-width: 348px;
}

.menu-profile{
    padding: 32px 0 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-image-profile{
    max-width: 128px;
    height: 128px;

    border: 2px solid var(--color-green);
    border-radius: 50%;
}

.menu .menu-name-profile{
    padding-top: 30px;

    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 29px;
    text-align: center;

    color: var(--color-gray)
}

.menu-name-profile span{
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
}

.menu-informations{
    margin: 30px 0 ;
    padding: 30px 40px;
}

.menu-informations-list {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.menu .menu-informations-link{
    display: flex;
    align-items: center;
    gap: 20px;

    font-size: 13px;
    line-height: 16px;
    text-decoration: none;

    color: var(--color-gray);
}

.menu-technologies{
    padding: 30px 20px;
}

.menu-technologies-container{
    padding: 0 10px;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.menu .menu-technologies-name{
    max-width: 86px;
    width: 100%;
    height: 24px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 30px;
    
    font-weight: 700;
    font-size: 10px;
    line-height: 13px;
    text-align: center;
    
    color: var(--color-black1);
    background-color: var(--color-pink);
}

.menu-experiences{
    padding: 30px 20px;
    margin: 30px 0;
}

.menu-list-container{
    padding-left: 20px;
}

.menu .menu-list::before{
    content: "•";
    margin-right: 8px;
    color: var(--color-gray);
}

.menu .menu-list{
    margin-bottom: 15px;
    font-weight: 300;
    font-size: 14px;
    line-height: 18px;

    color: var(--color-gray);
}

.menu-list:last-child{
    margin-bottom: 0;
}

.menu-list span{
    display: block;
    margin-left: 17px;
}

.menu-education{
    padding: 30px 20px;
}

/*Main */

.profile-content{
    width: 100%;
    padding-left: 60px;
}

.my-projects , .recent-posts{
    padding: 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-content .my-projects .menu-title, 
.profile-content .recent-posts .menu-title{
    padding-bottom: 0;

    color: var(--color-gray);
}

.profile-content .see-all-projects{
    font-size: 14px;
    line-height: 18px;


    color: var(--color-gray);
}
/*parte do repositorio*/

.repositories-container{
    margin-top: 31px;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.repositories{
    width: 100%;
    max-width: 436.5px;
    padding: 30px;

    max-height: 235px;
}

.repositories .repositories-name{
    display: flex;
    align-items: center;
    gap: 10px;

    font-weight: 700;
    font-size: 16px;
    line-height: 20px;

    color: var(--color-gray);
}

.repositories .repositories-description{
    max-height: 60px;
    margin: 22px 0 47px;

    font-size: 14px;
    line-height: 20px;

    color: var(--color-gray);

    overflow-y: auto;
}

.repositories-description::-webkit-scrollbar {
    width: 3px;
}
  
.repositories-description::-webkit-scrollbar-track {
    background: transparent;
}
  
.repositories-description::-webkit-scrollbar-thumb {
    background-color: var(--color-gray);
    border-radius: 2.0rem;
}

.repositories-informations{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.stars{
    display: flex;
    align-items: center;
    gap: 16px;
}

.repositories .stars span{
    display: flex;
    align-items: center;
    gap: 8px;

    font-size: 14px;
    line-height: 18px;

    color: var(--color-gray);
}

.repositories .linguage{
    display: flex;
    align-items: flex-start;
    gap: 8px;

    font-size: 14px;
    line-height: 18px;
    
    color: #837E9F;
}

/* Parte de posts */
    
.recent-posts{
    margin: 34px 0 30px;
}

.post{
    display: flex;
    align-items: flex-start;
    gap: 20px;

    padding: 30px 30px 42px;
}

.image-profile-post img{
    width: 128px;
    height: 128px;

    border-radius: 50%;
}

.post-title{
    padding-bottom: 13px;

    font-weight: 700;
    font-size: 18px;
    line-height: 23px;

    color: var(--color-gray);
}

.post-date{
    font-size: 14px;
    line-height: 18px;

    color: var(--color-gray);
}

.post-title-date{
    margin-bottom: 28px;
}

.post-content p{
    padding-bottom: 11px;

    font-size: 16px;
    line-height: 20px;

    color: var(--color-gray);
}

.post-content span{
    font-size: 14px;
    line-height: 18px;

    color: var(--color-gray);
    text-transform: lowercase;
}

.post-hashtag{
    display: flex;
    align-items: center;
    gap: 10px;

}

footer{
    font-size: 14px;
    line-height: 20px;
    text-align: center;

    color: var(--color-gray);
}




